<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	
<!-- 혹시 몰라서 넣어놓은 페이지 입니다. 크게 신경 안쓰셔도 됩니다! -->
<!-- 혹시 몰라서 넣어놓은 페이지 입니다. 크게 신경 안쓰셔도 됩니다! -->
<!-- 혹시 몰라서 넣어놓은 페이지 입니다. 크게 신경 안쓰셔도 됩니다! -->

<div layout:fragment="content">
	<div class="container">
		<h2>Member([[${mcount}]])</h2>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>ADDR</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="member :${members}">
					<td th:text="${member.id}"></td>
					<td th:text="${member.name}"></td>
					<td th:text="${member.addr}"></td>
				</tr>
			</tbody>
		</table>

	</div>

</div>